version: '3.8'

services:
  postgres:
    image: postgres:16
    container_name: taskmanager-postgres
    restart: unless-stopped
    ports:
      - "${POSTGRES_PORT}:5432"
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data_new:/var/lib/postgresql/data

volumes:
  postgres_data_new: